OPENAI_API_KEY=""
ANTHROPIC_API_KEY=""
GOOGLE_API_KEY=""
HUGGINGFACEHUB_API_TOKEN=""
PINECONE_API_KEY=""
PINE_INDEX_NAME=""
EXCHANGE_RATE_API=""
WEATHER_STACK_API_KEY=""
LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT='https://api.smith.langchain.com'
LANGCHAIN_API_KEY=''
LANGCHAIN_PROJECT=''