## Langchain Packages
langchain
langchain-core
langchain-text-splitters
langchain-experimental 
langchain-community 
langchain-classic

## LLM Models

# OpenAI Integration
langchain-openai
openai

# Anthropic Integration
langchain-anthropic

# Google Gemini (PaLM) Integration
langchain_google_genai

# HuggingFace
langchain-huggingface
transformers
huggingface-hub
sentence_transformers

## Vector Stores

# Chroma
chromadb 
langchain-chroma
tiktoken

# Pinecone
pinecone 
langchain-pinecone

# FAISS
faiss-cpu

## Machine Learning Utilities
numpy
scikit-learn
torch
torchvision

## Other Supporting Libraries

# Environment Variable Management
python-dotenv

# UI and Visualizations
streamlit
grandalf  

# PDF Processing
pypdf 

# Schema Defination
pydantic
typedict
pydantic[email]

# Accessing Webpage Data
beautifulsoup4

## Optional: Project based
youtube-transcript-api


